<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>port de plaisance</h1>
    <div>
      <p>
        Api de location de catways permettant de créer, modifier, supprimer des
        catways, utilisateurs et locations. =>
        <a href="/api-docs">documentation</a> <=
      </p>
    </div>
    <div class="form-container">
      <h2><%= title %></h2>
      <form method="post" action="/users/authenticate">
        <div class="form-group">
          <label for="email">email : </label>
          <input type="email" name="email" />
        </div>
        <div class="form-group">
          <label for="pass">password : </label>
          <input type="password" name="password" autocomplete="off" />
        </div>
        <input type="submit" value="submit" class="submit-btn" />
      </form>
    </div>
  </body>
</html>
